<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div *ngIf="errorOccurred" class="alert alert-danger">
        Ocorreu um erro ao carregar os usuários. Por favor, tente novamente mais
        tarde.
      </div>

      <div *ngIf="loading" class="alert alert-info">Carregando Lista...</div>

      <div *ngIf="isSearching && filteredUsers.length === 0"  class="alert alert-warning">
        Nenhum usuário encontrado com esse nome na lista.
      </div>
    </div>
  </div>
</div>

<div class="countflex">
  <span></span>
  <span></span>
  <div class="user-count" *ngIf="filteredUsers.length > 0">
    mostrando:
    {{ filteredUsers.length }}/{{ users.length }}
  </div>
</div>

<div class="table-responsive" *ngIf="!isMobileResolution">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Cidade</th>
        <th scope="col">Empresa</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.company.name }}</td>
        <td>{{ user.address.city }}</td>
        <td>
          <button class="btn btn-primary" (click)="openModal(user)">
            Mais Informações
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<div class="table-responsive" >
  <table class="table table-bordered" *ngIf="isMobileResolution">
    <thead class="thead-light">
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>
          <table class="table table-borderless text-left">
            <tr>
              <th scope="row">Nome</th>
              <td class="text-center">{{ user.name }}</td>

            <tr>
              <th scope="row">Email</th>
              <td class="text-center">{{ user.email }}</td>
            </tr>
            <tr>
              <th scope="row">Cidade</th>
              <td class="text-center" >{{ user.address.city }}</td>
            </tr>
            <tr>
              <th >Empresa</th>
              <td class="text-center">{{ user.company.name }}</td>
            </tr>
          </table>
        </td>
        <td class="d-flex justify-content-center">
            <button class="btn btn-sm btn-primary" (click)="openModal(user)">
              Info
            </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #modalTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Mais Informações</h4>
    <button
      type="button"
      class="btn btn-primary close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Nome:</strong> {{ modalUser?.name }}</p>
    <p><strong>Email:</strong> {{ modalUser?.email }}</p>
    <p><strong>Cidade:</strong> {{ modalUser?.address?.city }}</p>
    <p><strong>Empresa:</strong> {{ modalUser?.company?.name }}</p>
    <p><strong>Telefone:</strong> {{ modalUser?.phone }}</p>
    <p><strong>Site:</strong> {{ modalUser?.website }}</p>
    <p><strong>Usuário:</strong> {{ modalUser?.username }}</p>
  </div>
</ng-template>
